<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441026466387-iqv0v73feavcbcl34j3q10boh3ujhtl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441026466387-iqv0v73feavcbcl34j3q10boh3ujhtl4</string>
	<key>API_KEY</key>
	<string>AIzaSyAS6WaFcWDrB3swGIQ228QVLeQkdzzIK0U</string>
	<key>GCM_SENDER_ID</key>
	<string>441026466387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dimagold</string>
	<key>PROJECT_ID</key>
	<string>dima-gold</string>
	<key>STORAGE_BUCKET</key>
	<string>dima-gold.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441026466387:ios:939fb741616c8867c4aca6</string>
</dict>
</plist>